/* Global rules */

:root{
    --main-color: #c62b48;
    --secondary-color: #6d5a5d;
    --third-color: #493a72;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins',sans-serif;
    background-color: black;
}
section{
    width: 70%;
    height: 100vh;
    margin: 50px auto;
}


/* Start of header */
header{
    padding: 25px;
    align-items: center;
    z-index: 1000;
}
#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    padding-top: 30px;
    box-shadow: 0px 4px 10px rgba(179, 39, 39, 0.1);
    z-index: 100;
}
.saad{
    color: var(--main-color);
    font-size: 25px;
    margin-left: 150px;
    padding: 5px;
}
.saad:hover{
    transform: scale(1.1) ;
    border: none;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    border-bottom: 3px solid black;
}
header a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    border-radius: 2px;
    transition: 0.3s ease;
}
header a:active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    border-radius: 2px;
}
header #navbar nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 150px;
}
header nav nav a{
    padding: 10px;
}

@media (max-width: 995px){
    header{
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    #navbar{
        top: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #4e393c;
    }
    #navbar a{
        margin: 0;
    }
    #navbar .nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
    }
}
/* End of header */


/* Start of Sections */

/* Section one */

.welcome-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;   
    z-index: 9;
}
.welcome-section .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    animation: words 1s linear infinite;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    border-left: 3px solid black;
    height: 100%;
    right: -8;
    animation: curssor 0.6 infinite;
}

@media (max-width:1000px){
    .welcome-section{
        gap: 4rem;
    }
}

@media(max-width: 995px){
    .welcome-section{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .welcome-section.home-content h3{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .social-icons a {
        display: inline-block;
        font-size: 24px;
        color: white;
        margin: 10px;
        text-decoration: none;
        text-align: center;
    }
}

/* Section two */

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 80%;
    margin: auto;
    background-color: #6a5c5d;
}

.project {
    background: #434571;
    padding: 15px;
    border-radius: 8px;
    max-height: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.project img {
    height: calc(100% - 6.8rem);
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

.project h3 {
    color: white;
    margin-top: 10px;
    font-size: 18px;
}



/* Section three */

.social-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.icons{
    display: flex;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    background-color: transparent;
    border: 0.2rem solid transparent;
    font-size: 10rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;
}

.social-icons a:hover{
    background-color: #b74b4b;
    color: #161616;
    transform: scale(1.3) translateY(-5px);
}

.social-icons p{
    font-size: 4rem;
    padding-top: 5rem;
    padding-right: 20px;
}



@keyframes words{
    0%,20%{
        content: "Web Developer";
    }
    21%,40%{
        content: "Software Developer";
    }
    41%,60%{
        content: "Web Designer";
    }
}


/* End of Sections */

/* Start of Footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    height: 5vw;
    color: white;
    font-weight: 800;
    font-size: 1.8rem;
    background-color: rgb(104, 93, 93);
}
